<div flex layout="column" layout-align="start start" ng-controller="controlCtrl">
    <div flex>
        <md-switch ng-model="data.sw1" aria-label="Switch 1">
            Switch 1: {{ data.sw1 }}
        </md-switch>
    </div>
    <div flex>
        <md-switch ng-model="data.sw2" aria-label="Switch 1">
            Switch 2: {{ data.sw2 }}
        </md-switch>
    </div>
    <div flex>
        <md-switch ng-model="data.sw3" aria-label="Switch 1">
            Switch 3: {{ data.sw3 }}
        </md-switch>
    </div>
    <div flex>
        <md-switch ng-model="data.sw4" aria-label="Switch 1">
            Switch 4: {{ data.sw4 }}
        </md-switch>
    </div>
</div>